@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Bellefair&family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#statue{
    position: relative;
    overflow: hidden;
}

.header__statue{
    z-index: 1;
    filter: drop-shadow( 2px 2px 20px rgba(255, 255, 255, 0.5));
}

.header__circle{
    width: 1340px;
    height: 1340px;
    position: absolute;
    right: -13%;
    top: 7em;
    z-index: 0;
}
.circle{
    border: 15px solid #ffffff;
    border-radius: 50%;
    box-shadow: inset 0px 0px 20px 5px rgba(255, 255, 255, 0.5), 
    0px 0px 20px 5px rgba(255, 255, 255, 0.5);
}

/*Section About*/

section#about{
    position: relative;
    top: -11em;
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(13, 13, 13, 0.5);
    color:white;
}

.intro{
    font-family: Bellefair; 
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    color: #ffffff;
}


/*Left side*/
#about .heading{
    font-size: 4.5em;
    font-family: bellefair;
    text-align: start;
}

.text-under-heading{
    font-size: 1.3em;
    text-align: start;
}

/*Right side*/


.text-under-image{
    font-size: 1.1em;
}

.img-about{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/*Lines*/

.line-1{
    position: absolute;
    width: 120%;
    height: 1px;
    background-color: #6d6c6c;
    top: 10%;
    left: 2%;
    z-index: 2;
}

.line-2{
    position: absolute;
    width: 1px;
    height: 120%;
    background-color: #6d6c6c;
    top: 5%;
    left: 10%;
    z-index: 2;
}

.line-3{
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #6d6c6c;
    top: -10%;
    right: 10%;
    z-index: 2;
}

.line-4{
    position: absolute;
    width: 30%;
    height: 1px;
    background-color: #6d6c6c;
    bottom: 10%;
    left:0;
    z-index: 2;
}

.circle_about{
    position: absolute;
    width: 130%;
    height: 130%;
    right: 0;
    top: 10px;
}

/*events*/
.h1{ 
    color: #FFFFFF;
}


.heading_text{
    position: relative;
    font-family: Bellefair;

}

.heading_line_top{
    width: 50%;
    height: 1px;
    background-color: #727272;
    position: absolute;
    left: 0;
    top: -10px;
}
.heading_line_bottom{
    position: absolute;
    width: 150%;
    height: 1px;
    background-color: #B9B9B9;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.view{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    background: none;
    color: #FFFFFF;
    font-family: Bellefair;
    font-size: 18px;
    
}


/*slider*/
.carousel-item{
   height: 600px;
}

.carousel-caption .d-grid{
    grid-template-columns: 1fr 1fr;
}

.info_container{
    display: grid;
    grid-template-columns: 0.5fr 6fr;
    align-items: center;
}
.event-number{
    font-size: 50px;
    font-family: bellefair;
    padding: 0 5px;
}

.inscription{
    text-align: start;
}
.inscription p {
    font-size: 20px;
    font-family: bellefair;
}
.date, .description{
    font-size: 12px;
}
.click_container{
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.click_container a{
    text-decoration: none;
    color:white;
}

.click_container a:hover{
    color:rgb(85, 85, 85);
}


/*exhibitions*/

#exhibitions{
    margin-top: 30px;
}

.card{
    background: #252525;
    color:white;
    transition: 1s;
    cursor: pointer;
}
.card:hover{
    scale: 1.05;
}
.card img{
    width: auto;
    height: 100%;
    object-fit: cover;
}



/*Adaptation*/
@media only screen and (max-width: 539px){
    /*Header*/
    .header__circle{
        width: 300px;
        height: 300px;
    }

    .header__statue{
        width: 80%;
        height: 80%;
        float: right;
        margin-top: 50px;
    }
    /*about*/
    section#about{
        top: -2.5em;
    }
    
    .intro{
        font-size: 30px;
    }
    
    /*events*/
    .carousel-item{
        height: 200px;
    }
}

@media only screen and (min-width: 540px){
    /*Header*/
    .header__circle{
        width: 500px;
        height: 500px;
    }

    .header__statue{
        width: 80%;
        height: 80%;
        float: right;
    }

    /*about*/
    section#about{
        top: -5em;
    }
    
    .intro{
        font-size: 40px;
    }

    /*events*/
    .carousel-item{
        height: 300px;
    }
}

@media only screen and (min-width: 768px){
    /*Header*/
    .header__circle{
        width: 600px;
        height: 600px;
    }

    .header__statue{
        width: 80%;
        height: 80%;
        float: right;
    }

    /*about*/
    section#about{
        top: -6em;
    }
    
    .intro{
        font-size: 50px;
    }

    /*events*/
    .carousel-item{
        height: 400px;
    }
}

@media only screen and (min-width: 992px){
     /*Header*/
     .header__circle{
        width: 800px;
        height: 800px;
    }
    .header__statue{
        width: 80%;
        height: 80%;
        float: right;
    }
    /*about*/
    section#about{
        top: -9em;
    }

    .intro{
        font-size: 70px;
    }

    /*events*/
    .carousel-item{
        height: 500px;
    }
}

@media only screen and (min-width: 1200px){
    /*Header*/
    .header__circle{
        width: 1100px;
        height: 1100px;
    }

    .header__statue{
        width: 100%;
        height: 100%;
    }
    
    /*about*/

    section#about{
        top: -11em;
    }

    .intro{
        font-size: 80px;
    }

    /*events*/
    .carousel-item{
        height: 600px;
    }
 

}

@media only screen and (min-width: 1400px){
    
    /*Header*/
    .header__circle{
        width: 1340px;
        height: 1340px;
    }
    
    .header__statue{
       width: 100%;
       height: 100%;
    }

    /*about*/

    .intro{
        font-size: 91px;
    }
}
